# Build Maven
target/
*.class

# IDEs
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Logs e temporários
*.log
*.tmp
*.temp
*.bak
*.swp

# Ignorar qualquer JSON do projeto
*.json